:root {
	--main-bg-color: hwb(45 50% 20%);
	--logo-yellow-color: #cc9a01;
	--logo-dragon-color: #231f20;
	--logo-border-color: #010101;
	--hover-yellow-color: #c9af62;
	--text-color: #000000;
	--red-button-color: #ff5e5e;
	--red-button-color-hover: #ff8e8e;
	--green-button-color: #5eff5e;
	--green-button-color-hover: #8eff8e;
	--table-border-color: #444444;

	--nav-height: 3em;
}

html {
	min-width: 100%;
	background-size: contain;
	overflow-x: hidden;
}

body {
	background-color: var(--main-bg-color);
	margin: 0;
	width: 100%
}

nav {
	display: grid;
	grid-template-columns: var(--nav-height) 1fr 1fr 1fr 1fr 35%;
	grid-template-rows: var(--nav-height);
	width: 100%;
	height: var(--nav-height);
	background-color: var(--logo-yellow-color);
	border-bottom: 2px solid #000000;
}

.schoolLogo {
	width: calc(var(--nav-height));
	height: calc(var(--nav-height));
}

.navButton {
	background-color: var(--logo-yellow-color);
	align-self: center;
	height: 100%;
	border-radius: 0;
	border-color: var(--logo-border-color);
	font-size: 24px;
	border-top-width: 0px;
	border-left-width: 0px;
	border-bottom-width: 0px;
	display: flex;
	flex: 1 1 0px;
}

#homeButton {
	border-left-width: 2px;
}

.navButton:hover {
	background-color: var(--hover-yellow-color);
}







input {
	padding: 5px;
}


.options {
	margin: 10px;
	width: 100%;
	display: flex;
}

.optionBoxes {
	box-sizing: border-box;
	display: flex;
}

legend {
	font-weight: bold;
}

.searchField, .fileInputField {
	display: grid;
	grid-template-columns: max-content max-content;
}

.searchLabel, .fileLabel {
	align-self: center;
	justify-self: right;
}

.fileInput {
	overflow: hidden;
}

.searchInput {
	max-height: 1.1em;
	align-self: center;
	margin-left: 5px;
	border: 1px solid var(--logo-border-color);
	background-color: var(--main-bg-color);
}

.searchInput:hover, .searchInput:focus {
	background-color: #cc9a01;
}



.output {
	margin: 10px;
}

.outputTable {
	margin: 10px;
}

.databaseButton {
	display: grid;
	grid-template-columns: auto;
	row-gap: 15px;
}

.button {
	border-width: 1px;
	border-radius: 5px;	
	border-color: #010101;
}

.redButton {
	background-color: var(--red-button-color);
}

.redButton:hover {
	background-color: var(--red-button-color-hover);
}

.greenButton {
	background-color: var(--green-button-color);
}

.greenButton:hover {
	background-color: var(--green-button-color-hover);
}







/* tbody:nth-child(even) {
    background-color: #000000;
} */

.resetButton {
	margin: 5px;
	width: fit-content;
}

/* .label {
	box-sizing: border-box;
	display:inline-block;
	min-width: 10em; */
	/* border: 5px solid black; */
	/* text-align: right;
} */

table {
	border-collapse: collapse;
	border: 2px solid var(--table-border-color);
	letter-spacing: 1px;
	font-size: 1rem;
}

td, th {
	border: 2px solid var(--table-border-color);
	padding: 5px;
}

td {
	text-align: center;	
}

caption {
	padding: 10px;
}



